<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Listado de Electrodomesticos<de class=""></de></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list *ngFor="let p of appListado; let i = index">
    <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
    <ion-label>{{ p.nombre }} {{p.consumoE}} {{p.peso}}</ion-label>
  </ion-list>

</ion-content>
